{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="About Page">
    <meta name="author" content="Connor Goldschmidt and Max Brown">
    <title>About</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/pricing/">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <!-- Import JavaScript Bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    

  </head>
  <body>

    <!-- Navbar  -->
    <nav class="navbar navbar-expand-md bg-light navbar-light sticky-top shadow-sm">
      <div class="container">
        <a href="{% static '../index.html'%}" class="navbar-brand">
          <img src="{% static '/images/new-beg-base_CROPPED.png'%}" class="w-75" alt="New Beginnings">
        </a>

        <button class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="{% static 'about.html' %}" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="{%static 'about.html' %}" class="nav-link">Testimonials</a>
            </li>
            <li class="nav-item">
              <a href="{%static 'contact.html' %}" class="nav-link btn btn-warning rounded-pill text-dark px-3 ms-2">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Showcase Area -->
    <section class="bg-warning bg-opacity-50">
      <div class="container py-5 px-5">
        <h1 class="display-3">Meet New Beginnings</h1>
        <h1 class="h2 text-dark">Experts Who Care</h1>
      </div>
    </section>

    <div class="container my-5">
      <!-- Mission Statement section -->
      <section class="row justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2>Our Mission</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed mauris mauris. Duis eu ante purus. Donec sit amet est et justo eleifend vehicula. Nulla facilisi. Fusce nec sem id felis tincidunt tristique. Sed suscipit sapien vel turpis venenatis elementum.</p>
        </div>
      </section>

      <!-- Meet the Team section -->
      <section class="row mb-5">
        <div class="col-md-12 mb-3">
          <h2 class="text-center">Meet The Team</h2>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100 shadow">
            <div class="card-body">
              <div class="text-center">
                <img class="img-fluid rounded-circle mb-4 w-50" src="{% static '/images/carey_profile.png'%}" alt="Carey Donaldson">
              </div>
              <div class="text-center mt-auto">
                <h3 class="card-title mb-0">Carey Donaldson</h3>
                <div class="card-subtitle text-muted mb-2">CEO & Founder</div>
                <p class="card-text">Carey Donaldson founded NewBeginnings Spokane LLC almost seven years ago to provide student loan advocacy. Her passion for relationships based on trust and integrity started on the soccer field. The company prioritizes individualized expertise, commitment to clients, and ethical business practices. Carey's success comes from fulfilling the mission with transparency and real results.</p>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-primary"><i class="fab fa-linkedin fa-lg mr-2"></i>LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100 shadow">
            <div class="card-body">
              <div class="text-center">
                <img class="img-fluid rounded-circle mb-4 w-50" src="{% static '/images/riley-profile.png'%}" alt="Riley Hildebrand">
              </div>
              <div class="text-center mt-auto">
                <h3 class="card-title mb-0">Riley Hildebrand</h3>
                <div class="card-subtitle text-muted mb-2">Client Relations Director</div>
                <p class="card-text">Riley Hildebrand joined NewBeginnings as Lead Processor in March 2022, 
                  then became Client Relations Director. She studied business and changed her major to entrepreneurship, 
                  passionate about customer relations and business development. At NewBeginnings Spokane, she is committed to 
                  changing borrowers' lives and developing relationships with them.</p>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-primary"><i class="fab fa-linkedin fa-lg mr-2"></i>LinkedIn</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    <!-- Why We're Different -->
    <section id="unique-features" class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">What Sets Us Apart</h2>
            <hr class="my-4">
            <p class="lead pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat imperdiet sed euismod nisi. Pulvinar elementum integer enim neque. Consequat ac felis donec et. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Ultricies leo integer malesuada nunc. Pharetra pharetra massa massa ultricies mi quis hendrerit. Neque gravida in fermentum et sollicitudin. Dui accumsan sit amet nulla facilisi morbi. Accumsan sit amet nulla facilisi morbi tempus iaculis urna. Sit amet consectetur adipiscing elit pellentesque. Cum sociis natoque penatibus et magnis. Convallis convallis tellus id interdum velit laoreet id. Facilisi etiam dignissim diam quis enim. In mollis nunc sed id. Ac turpis egestas integer eget aliquet nibh praesent. Suscipit tellus mauris a diam maecenas.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="media p-4 mb-4 border border-warning shadow rounded text-center">
              <img src="https://via.placeholder.com/400x200" class="align-self-center mr-3 pb-3" alt="Unique Feature 1">
              <div class="media-body align-self-center">
                <h4 class="mt-0">Customizable Solutions</h4>
                <p class="text-center">Our team of experts works closely with each client to create customized solutions that fit their unique needs and goals.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="media p-4 mb-4 border border-warning shadow rounded text-center">
              <img src="https://via.placeholder.com/400x200" class="align-self-center mr-3 pb-3" alt="Unique Feature 1">
              <div class="media-body align-self-center">
                <h4 class="mt-0">Customizable Solutions</h4>
                <p class="text-center">Our team of experts works closely with each client to create customized solutions that fit their unique needs and goals.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="media p-4 mb-4 border border-warning shadow rounded text-center">
              <img src="https://via.placeholder.com/400x200" class="align-self-center mr-3 pb-3" alt="Unique Feature 1">
              <div class="media-body align-self-center">
                <h4 class="mt-0">Customizable Solutions</h4>
                <p class="text-center">Our team of experts works closely with each client to create customized solutions that fit their unique needs and goals.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="media p-4 mb-4 border border-warning shadow rounded text-center">
              <img src="https://via.placeholder.com/400x200" class="align-self-center mr-3 pb-3" alt="Unique Feature 1">
              <div class="media-body align-self-center">
                <h4 class="mt-0">Customizable Solutions</h4>
                <p class="text-center">Our team of experts works closely with each client to create customized solutions that fit their unique needs and goals.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
       
    <!-- Ready to Go? -->
    <section class="bg-warning bg-opacity-50">
      <div class="container">
        <div class="row py-5 align-items-center justify-content-center row-cols-1">
          <div class="col-auto pe-3 text-center text-lg-start align-items-center">
            <h1 class="display-4">Ready to take the first step?</h1>
            <h1 class="h-4">Schedule a consultation today</h1>
          </div>
          <div class="col-auto col-md-3 justify-content-center d-flex">
            <button type="button" class="btn btn-lg bg-0 border border-3 border-white text-dark mt-4 mt-lg-0 py-lg-3">Find a time that works</button>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <div class="container-fluid p-4">
      <div class="row justify-content-between align-items-center">
        <!-- Company Icon -->
        <div class="col">
          <img src="{% static '/images/new-icon_64.png' %}" class="w-auto mx-auto w-50" alt="">
        </div>
        <!-- Social Media Links -->
        <div class="col">
          <div class="row justify-content-evenly">
            <div class="col col-md-auto">
              <a href="https://www.linkedin.com/company/newbeginnings-spokane/" target="_blank">
                <img src="{% static '/images/icons/linkedin-64-rounded.png' %}" class="w-75" alt="">
              </a>
            </div>
            <div class="col col-md-auto">
              <a href="https://www.youtube.com/@newbeginningsspokane3923" target="_blank">
              <img src="{% static '/images/icons/youtube-64-rounded.png' %}" class="w-75" alt="">
              </a>
            </div>
          </div>
        </div>
        <!-- Copyright -->
        <div class="col">
          <small class="d-block mb-3 text-muted text-end">&copy; New Beginnings LLC 2022</small>
          <!-- <a href="https://www.flaticon.com/free-icons/guide" title="guide icons">Guide icons created by Cuputo - Flaticon</a> -->
        </div>
      </div>
    </div>

  </body>
  </html>