{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="V1 Contact">
    <meta name="author" content="Connor Goldschmidt">
    <title>Home</title>
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  </head>
  <body class="body-background">

<div class="container-fluid m-0 p-0 overflow-hidden">
  <header class="m-0 p-0">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 border-bottom background">
      <a href="../index.html" class="d-flex align-items-center text-black text-decoration-none m-2">
        <img src="../images/new-beg.png" alt="new-beg" height="20%" width="35%">
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto px-md-3">
        <a class="me-3 py-2 text-black text-decoration-none fs-4" href="about.html">About</a>
        <a class="me-3 py-2 text-black text-decoration-none fs-4" href="#">Contact</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="row row-cols-md-2 justify-content-end row-cols-1 contact-background">
        <div class="col mt-5 mx-5">
            <div class="card bg-dark rounded-3">
              <div class="card-header text-center">
                <h4 class="fs-2 text-light">Contact</h4>
              </div>
            <div class="card-body">
              <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>
    </div>
  </main>

  <footer class="pt-4 mt-md-0 pt-md-5 border-top bg-dark">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../images/new-icon.png" alt="" width="24" height="19">
        <small class="d-block mb-3 text-muted">&copy; New Beginnings LLC 2022</small>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-black">Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-black">Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-black">About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>

  </body>
</html>
