{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="V1 Contact">
    <meta name="author" content="Connor Goldschmidt">
    <title>Home</title>
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

  </head>
  <body>

    <!-- Navbar  -->
    <nav class="navbar navbar-expand-md bg-light navbar-light sticky-top shadow-sm">
      <div class="container">
        <a href="{% static '../index.html'%}" class="navbar-brand">
          <img src="{% static '/images/new-beg-base_CROPPED.png'%}" class="w-75" alt="New Beginnings">
        </a>

        <button class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="{% static 'about.html' %}" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="{%static 'about.html' %}" class="nav-link">Testimonials</a>
            </li>
            <li class="nav-item">
              <a href="{%static 'contact.html' %}" class="nav-link btn btn-warning rounded-pill text-dark px-3 ms-2">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Showcase Area -->
    <section class="bg-warning bg-opacity-50">
      <div class="container py-5 px-5">
        <h1 class="display-3">Contact</h1>
        <h1 class="h2 text-dark">We want to get to know you</h1>
      </div>
    </section>

    <!-- Calendly Integration -->
    <section>
      <div class="container">
        <div class="col">
          <div class="row text-center pt-5 pb-0">
            <h1 class="h3">Find The Service You Need</h1>
          </div>
          <div class="row text-center">
            <h1 class="h4 text-muted">Initial Calls Are Free.</h1>
          </div>
          <div class="row">
            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/brownmaxj?hide_landing_page_details=1&primary_color=ffc008" style="min-width:320px;height:630px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
            <!-- Calendly inline widget end -->
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <div class="container-fluid p-4">
      <div class="row justify-content-between align-items-center">
        <!-- Company Icon -->
        <div class="col">
          <img src="{% static '/images/new-icon_64.png' %}" class="w-auto mx-auto w-50" alt="">
        </div>
        <!-- Social Media Links -->
        <div class="col">
          <div class="row justify-content-evenly">
            <div class="col col-md-auto">
              <a href="https://www.linkedin.com/company/newbeginnings-spokane/">
                <img src="{% static '/images/icons/linkedin-64-rounded.png' %}" class="w-75" alt="">
              </a>
            </div>
            <div class="col col-md-auto">
              <a href="https://www.youtube.com/@newbeginningsspokane3923">
              <img src="{% static '/images/icons/youtube-64-rounded.png' %}" class="w-75" alt="">
              </a>
            </div>
          </div>
        </div>
        <!-- Copyright -->
        <div class="col">
          <small class="d-block mb-3 text-muted text-end">&copy; New Beginnings LLC 2022</small>
          <!-- <a href="https://www.flaticon.com/free-icons/guide" title="guide icons">Guide icons created by Cuputo - Flaticon</a> -->
        </div>
      </div>
    </div>
    
  </body>
</html>
